<!doctype html>
<html lang="en">
{% include head.html %}
<body>
  <main>
    <div class="grid grid-centered">
      <div class="grid-cell">
        {% include navigation.html %}
        <article class="article {% if site.scrollappear_enabled %}scrollappear{% endif %}">
          <header class="article-header">
            <h1>{{ page.title }}</h1>
            <p>{{ page.description }}</p>
            {% include article/info-footer.html post=page %}
          </header>
          <div class="article-content">
            {{ content }}
          </div>

          {% if site.disqus_shortname %}
          <div id="disqus_thread"></div>
          <script>
              var disqus_config = function () {
                  this.page.url = '{{ page.url | absolute_url }}';
                  this.page.identifier = '{{ page.url | absolute_url }}';
              };
              (function() { // DON'T EDIT BELOW THIS LINE
                  var d = document, s = d.createElement('script');
                  s.src = 'https://{{ site.disqus_shortname }}.disqus.com/embed.js';
                  s.setAttribute('data-timestamp', +new Date());
                  (d.head || d.body).appendChild(s);
              })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
          {% endif %}
        </article>
        {% include footer.html %}
      </div>
    </div>
  </main>
  {% include javascripts.html %}
</body>
</html>
