$base-line: 1.5;
$base-font-size-px: 16;
$base-line-px: $base-font-size-px * $base-line;
$background-color: #227e8c;
$foreground-color: #fff;
$accent1: #e2eaae;
$accent2: #d4bbe2;

@mixin rhythm($font-size-px, $line-height, $top-margin-lines: 1) {
    font-size: ($font-size-px / $base-font-size-px) + rem;
    line-height: ($line-height * $base-line-px) / $font-size-px;
    margin-top: (($top-margin-lines * $base-line-px) / $base-font-size-px) + rem ;
}

@font-face {
    font-family: 'Lato-rg';
    font-style: normal;
    font-weight: 400;
    src: url('~@fontsource/lato/files/lato-latin-400-normal.woff2') format('woff2'),
    url('~@fontsource/lato/files/lato-latin-400-normal.woff') format('woff');
    font-display: optional;
}

@font-face {
    font-family: 'Lato-it';
    font-style: italic;
    font-weight: 400;
    src: url('~@fontsource/lato/files/lato-latin-400-italic.woff2') format('woff2'),
    url('~@fontsource/lato/files/lato-latin-400-italic.woff') format('woff');
    font-display: optional;
}

@font-face {
    font-family: 'Lato-bd';
    font-style: normal;
    font-weight: 700;
    src: url('~@fontsource/lato/files/lato-latin-700-normal.woff2') format('woff2'),
    url('~@fontsource/lato/files/lato-latin-700-normal.woff') format('woff');
    font-display: optional;
}

@font-face {
    font-family: 'Vollkorn-md';
    font-style: normal;
    font-weight: 500;
    src: url('~@fontsource/vollkorn/files/vollkorn-latin-500-normal.woff2') format('woff2'),
    url('~@fontsource/vollkorn/files/vollkorn-latin-500-normal.woff') format('woff');
    font-display: optional;
}

body {
    font-size: 16px;
    line-height: 1.5;

    max-width: 650px;
    margin: 0 auto;
    padding: 0 $base-line-px + px;

    background: $background-color;
    background-image: url("https://www.transparenttextures.com/patterns/elegant-grid.png");

    color: $foreground-color;
}

a {
    color: $accent1;

    &:visited {
        color: $accent2;
    }
}

h1 {
    font-family: 'Vollkorn-md';
    @include rhythm(38, 2, 3);
}

h2, h3, h4, h5, h6 {
    font-family: 'Vollkorn-md';
    @include rhythm(24, 1);
}

p {
    font-family: 'Lato-rg';
    @include rhythm(16, 1);
}

em {
    font-family: 'Lato-it';
}

strong {
    font-family: 'Lato-bd';
}

.postcontainer {
    margin-top: 3 * $base-line-px + px;
}

.postinfo {
    text-transform: uppercase;
    @include rhythm(12, 1);
}

.posttitle {
    text-decoration: none;
}

@media only screen and (max-device-width: 414px) {
    h1 {
        @include rhythm(32, 2, 3);
    }
}
