---
layout: default
title: "Home"
description: ""
---

<ul class="article-list">
  {% for post in paginator.posts %}
    <li class="article-list-item {% if site.scrollappear_enabled %}scrollappear{% endif %}">
      <a href="{{ post.url | relative_url }}" title="{{ post.title }}">
        <h5>
          {{ post.title }}
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <symbol id="icon-arrow-left" viewBox="0 0 16 16">
            <title>arrow-left</title>
            <path d="M16 7.143v1.714c0 0.161-0.125 0.286-0.286 0.286h-11.143v2c0 0.116-0.063 0.214-0.17 0.259s-0.223 0.027-0.313-0.045l-3.429-3.125c-0.054-0.054-0.089-0.125-0.089-0.205v0c0-0.080 0.036-0.161 0.089-0.214l3.429-3.161c0.089-0.080 0.205-0.098 0.313-0.054 0.098 0.045 0.17 0.143 0.17 0.259v2h11.143c0.161 0 0.286 0.125 0.286 0.286z"></path>
            </symbol>
          </svg>
        </h5>
      </a>
      <p>
        {% if post.description %}
          {{ post.description }}
        {% else %}
          {{ post.excerpt }}
        {% endif %}
      </p>
      {% include article/info-footer.html post=post %}
    </li>
  {% endfor %}
  {% if paginator.total_pages > 1 %}
    <li class="article-pagination {% if site.settings.scrollappear_enabled %}scrollappear{% endif %}">
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="article-pagination-left">{% include svg-icon.html icon="arrow-left" %} Older posts</a>
      {% endif %}
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="article-pagination-right">Newer posts {% include svg-icon.html icon="arrow-right" %}</a>
      {% endif %}
    </li>
  {% endif %}
</ul>
